{% extends 'core/index.html' %}
{% block content %}
<main>
    <form>
        <h1 class="h3 mb-3 fw-normal">Faça seu login</h1>
        <div class="mb-3">
            <label>Login</label>
            <input type="email" class="form-control" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label>Senha</label>
            <input type="password" class="form-control" placeholder="digite a sua senha...">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
    </form>
</main>
{% endblock content %}